.container_admin {
   max-width: 1920px;
   margin: 0 auto;
}
.row_main {
   min-height: 100vh;
}
.main_content {
   position: relative;
   background: #f6f8fa;
   flex: 0 0 46.4%;
   padding: 51px 30px;
}
