.wr {
    position: relative;
    border-radius: 12px;

    &.load {
        &::after {
            content: '';
            border-radius: inherit;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
        }

        &::before {
            content: '';
            border-radius: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 20px;
            height: 20px;
            transform: translate(-50%, -50%);
            z-index: 4;
            background: url('/images/icons/preloader-blue.svg') center/contain no-repeat;
        }
    }
}